.App {
  text-align: center;
  min-width: 350px;
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.TweetList .Tweet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.TweetList .Tweet:nth-child(2n) {
  background-color: #ececec;
}

.tweet-timestamp {
  color: #a09c9c;
  font-size: 12px;
  align-self: flex-start;
  margin-top: 3px
}

.Form form {
    display: flex;
    justify-content: center;
}
